.bacground{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #cea2fd7e; 
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
}

.back1{
    height: auto;
    width: 100%;
    background-size: cover;
    /* background-image: linear-gradient(to right, #C9FFBF, #FFAFBD); */

}
.twodiv{
    display: flex
    
}
.back{
    height: auto;
    width: 100%;
    background-size: cover;
    background-color: rgba(135, 207, 235, 0.233);
   
}
.grad{
    background-image: linear-gradient(to right, #C9FFBF, #FFAFBD);
  
}