.Introduction{
     background-color: rgb(201, 161, 239);
     background-size: cover;
     height: auto;
     width: 100%;
     
     
     }
     .Understanding{
        font-size: 20px;
        

     }
     .margin{
      margin: left 30px;
     }
     


    
