.A{
  font-size: 30px;
}
.V{ 
  display: flex;
}
.M{
  display: flex;
}
.L{
  display: flex;
}
.nested_loops{
  display: flex;
}
.B{
  font-size:25px;

}
.D{
  font-size: 25px;
}
.E{
  font-size: 25px;
}
.F{
  height: 500px;

}
.G{
  font-size: 25px;
}
.Fc{
  display: flex;

}
.c1{
  background-image:linear-gradient(to right, pink, #ffffff);
}
.c2{
  background-image:linear-gradient(to right, pink, #ffffff);
}
.c3{
  background-image:linear-gradient(to right, pink, #ffffff);
}
.c4{
  background-image:linear-gradient(to right, pink, #ffffff);

}
.c5{
  background-image:linear-gradient(to right, pink, #ffffff);

}
.c6{
  background-image:linear-gradient(to right, pink, #ffffff);

}
.c7{
  background-image:linear-gradient(to right, pink, #ffffff);

}