.back{
    height: auto;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient( to right,  #EA8D8D, #A890FE);

}
.responsive{
  width: 50%; 
  height: auto; 
}
.paragraph{
  border: double;
  border-radius: 20px;
  border-style: double;
  border-color: gray;
  border-width: 2px;
}
 